<div class="container">
	<h1>All Amenities</h1>
	<table class="table">
		<tr>
			<th>Amenity ID</th>
			<th>Amenity Name</th>
			<th>Remove</th>
		</tr>
		<% _.each(amenities, function(amenity) { %>
		<tr data-id="<%= amenity.idAmenities %>" data-model="amenity">
			<td><%= amenity.idAmenities %></td>
			<td><%= amenity.A_name %></td>
			<td>
				<form action="/amenity/destroy/<%= amenity.idAmenities %>" method="POST">
					<input type="hidden" name="_method" value="delete" />
					<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
					<input type="hidden" name="_csrf" value="<%= _csrf%>" />
				</form>
			</td>
		</tr>
		<% }) %>
	</table>
</div>