<div class="container">
	<h1>All Institutes</h1>
	<table class="table">
		<tr>
			<th>Institute Name</th>
			<th>URL</th>
			<th></th>


			<% if (!(session.User == undefined)) { %>
			<% if (session.User.U_type.localeCompare('admin') == 0) { %>
			<th></th>
			<% }} %>
		</tr>
		<% _.each(institutes, function(institute) { %>
		<tr data-id="<%= institute.idInstitutes %>" data-model="institute">
			<td><%= institute.I_name %></td>
			<td><a href="http://<%= institute.I_url %>"><%= institute.I_url %></a></td>
			<td><a href="/institute/show/<%= institute.idInstitutes %>" class="btn btn-sm btn-info">More Info</a></td>

			<% if (!(session.User == undefined)) { %>
			<% if (session.User.U_type.localeCompare('admin') == 0) { %>
			<td>
				<form action="/institute/destroy/<%= institute.idInstitutes %>" method="POST">
					<input type="hidden" name="_method" value="delete" />
					<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
					<input type="hidden" name="_csrf" value="<%= _csrf%>" />
				</form>
			</td>
			<% }} %>
		</tr>
		<% }) %>
	</table>
</div>