<script>
	$(document).ready(function(){
		var gradestext = ["A1", "A2", "B1", "B2", "B3", "C1", "C2", "C3", "D1", "D2", "D3"];
		var gradesvalue = ["100", "90", "85", "80", "75", "70", "65", "60", "55", "50", "45"];
		var a = document.getElementById("Grade");
		var b = document.getElementById("Grade1");
		var c = document.getElementById("Grade2");
		var d = document.getElementById("Grade3");
		var e = document.getElementById("Grade4");
		var f = document.getElementById("Grade5");
		var option;

		for (var i=0;i<gradestext.length;i++)
		{
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			a.add(option);
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			b.add(option);
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			c.add(option);
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			d.add(option);
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			e.add(option);
			option = document.createElement("option");
			option.text = gradestext[i]; option.value = gradesvalue[i];
			f.add(option);
		}
	});
</script>
<div class="container">
	<form id="subs" action="/subject/calculator/<%- session.User.idUser %>" method="POST" onsubmit="return validateSubjects()">
		<h2>Enter your results</h2>		
		<div class="form-inline">
			<select id="sub" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
		</div>
		<div class="form-inline">
			<select id="sub1" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade1"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
		</div>
		<div class="form-inline">
			<select id="sub2" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade2"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
		</div>
		<div class="form-inline">
			<select id="sub3" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade3"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
		</div>
		<div class="form-inline">
			<select id="sub4" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade4"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
			</div>
		<div class="form-inline">
			<select id="sub5" class="form-control" placeholder="Subject" name="Subject">
			<% _.each(subjects, function(subject) { %>
				<option value="<%= subject.idSubjects %>"><%= subject.S_name %></option>
			<% }) %>
			</select>
			<select class="form-control" placeholder="Grade" name="Grade" id="Grade5"></select>
			<select class="form-control" placeholder="Level" name="Level" >
				<option value="higher">Higher</option>
				<option value="ordinary">Ordinary</option>
			</select>
		</div>
		<br />
		<input type="submit" class="btn btn-primary" value="Submit Results"/>
		<input type="hidden" name="_csrf" value="<%= _csrf%>"/>
	</form>
</div>
<script>
function validateSubjects(){
	var subjects = new Array();
	subjects.push(document.getElementById("sub").value);
	subjects.push(document.getElementById("sub1").value);
	subjects.push(document.getElementById("sub2").value);
	subjects.push(document.getElementById("sub3").value);
	subjects.push(document.getElementById("sub4").value);
	subjects.push(document.getElementById("sub5").value);

	for (var i = 0; i < subjects.length; i++) {
		for (var j = 0; j < subjects.length; j++) {
			if((subjects[i] == subjects[j]) && i != j){
				alert("Two subject fields cannot be the same!");
				return false;
			}
		}
	}
}

</script>