<div class="container">
	<h1>Course Occupations</h1>
	<h4>Select one or two Occupations associated with <%= id %>.</h4>
	<form id="occs" action="/course_occupation/create/<%= id %>" onsubmit="return validateForm()">
		<% var index = 1; %>
		<% var newcol %>
		<% _.each(occupations, function(occupation) { %>
			<% if(index%48 == 1){  %>
		<div class="row">
			<% }; %>
			<% if(index%16 == 1){  %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
			<% }; %>
			<% index++; %>
				<input type="checkbox" name="idOccupation" value="<%= occupation.idOccupation %>" /> <%= occupation.O_name %></br>

			<% if(index%16 == 1){  %>
				</div>
			</div>
			<% }; %>
			<% if(index%48 == 1){  %>
		</div>
			<% }; %>
		<% }) %>
				</div>
			</div>
		</div>
	<div class="container" >
	<div class="row pull-right">
		<input type="submit" class="btn btn-sm btn-primary" value="Submit" />
		<input type="hidden" name="_csrf" value="<%= _csrf%>" />
	</form>
		<a href="/occupation/index/<%= id %>" class="btn btn-sm btn-warning">Clear</a>
</div>
	</div>
</div>
<script>
function validateForm() {
	var total = 0;
	form = document.getElementById("occs");
	var inputs = form.getElementsByTagName("input");

	for(var i = 0; i < inputs.length; i++) {
	     if (inputs[i].type === "checkbox" && inputs[i].checked){
	     	total += 1;
	     }
	}

	if(total > 2 ){
		alert("You can select one or two Occupations");
		return false;
	}
}
</script>